<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    
<div class="code" style="max-width:600px;">
	<p>My name is AAndré Fernández. I'm a film and television producer and founder of <a href="http://intercept-ent.com">Intercept Entertainment</a>. </p>
    <p> I've produced over 20 short form media pieces including award winning short films, commercials, music videos, promos for small businesses and non profits; 2 feature films, 1 docu-series and have a documentary on the works. Previously I interned at Resonate Entertainment and AEHF Talent Agency.</p>
	<p>I graduated from ASU in May 2019 with a major in Film &amp; Media Production.</p>
    <p>I’m an occasional bedroom DJ.</p>
    <p>Some articles that I’ve been featured on <a href="/blog.html">are here</a>.</p>
    <p><a href="mailto:a@producedbyandre.me">a@producedbyandre.me</a></p>
</div>

